body {
}
.newStyle2
{
    margin-right: 20px;
}

.newStyle3 /* This is the commission table*/
{
    margin: 30px 0;
}

#CalculateButton, #ClearButton, #ExitButton
{
    margin: 10px 10px 10px 0;
    position: relative;
    right: 30px;

}

#ExteriorFinish, #AdditionalAccessories
{
    
    border: 1px solid #000000;
    padding: 10px;
    width:230px;
}
#MainArea 
{
    width: 350px;
    position:absolute;
    left: 260px;
    
}
td 
{
    padding: 0 10px;
    border-width: 0;
}
#MainArea tr:nth-child(2), #MainArea tr:nth-child(4), #MainArea tr:nth-child(6), #MainArea tr:nth-child(8)
{
    background:#EEEEEE;
}
h3 
{
    margin-top: 0;
}
h1
{
    margin-left: 190px;
}